@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Awesome Azure DevOps CI/CD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Let's deploy a dokerizing Web app to AKS</a>.</p>
</div>
